/* .container {
    width: 100%;
}

ul, li {
    font-family: 'Nunito Sans', sans-serif;
}

.product-input {
    display: flex;
    position: relative;
    outline: solid 1px #5369F1;
    padding-left: 10px;
}

.submit-btn {
    background-color: #5369F1;
    padding: 10px 20px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

form > .suggestions-list {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    list-style: none;
    padding: 12px;
    border-radius: 0.3rem;

    position: relative;
    left: 0;
    width: 100%;
}

.suggestion-list-item {
    position: relative;
    display: block;
    border-bottom: 1px solid #e8e8e8;
    color: #6c757d;
    cursor: pointer;
}

.suggestion-list-item-active, .suggestion-list-item:hover {
    background-color: #e8e8e8;
} */

.dropdown {
    position: relative;
}

.dropdownMenu {
    padding: 0;
    border: 1px solid #e2e7f1;
    border-radius: 0.3rem;
}

.dropdownMenu > div {
    padding: 10px 20px;
    border-bottom: 1px solid #e2e7f1;
    
    list-style-type: none;
}

.dropdownMenu > div:hover, .dropdownMenu > div:focus, .dropdownItem-active {
    background-color: #f8f9fa;
    cursor: pointer;
}



/* .dropdownItem {

    text-decoration: none;
    
    width: 100%;
    max-width: 23.5%;
    padding: 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e7f1;
    margin: 10px 20px;
    clear: both;
    font-weight: 400;
    color: #212529;
} */

/* .dropdownItem-active {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
} */
